<div class="flex flex-col gap-2">
    @if (name()) {
        <strong>{{ name() }}</strong>
    } @else {
        <strong>Desconocido</strong>
    }
    @if (category()) {
        <p>Categoría: {{ category() }}</p>
    } @else {
        <p>Sin categoría</p>
    }
    
    <span class="flex flex-row gap-2">
        <app-button (click)="closePopup()" label="Cerrar"></app-button>
        <app-button-secondary (click)="edit(editContent)" label="Editar"></app-button-secondary>
    </span>
</div>

<ng-template #editContent>
    <p>:D</p>

    <app-button (click)="closeEditModal()" label="Cerrar"></app-button>
</ng-template>