<div class="flex flex-col gap-2">
    @if (name()) {
        <strong>{{ name() }}</strong>
    } @else {
        <strong>Desconocido</strong>
    }
    @if (category()) {
        <p>Categoría: {{ category() }}</p>
    } @else {
        <p>Sin categoría</p>
    }
    
    <span class="flex flex-row gap-2">
        <app-button (click)="edit(editContent)" label="Editar"></app-button>
        <app-button-secondary (click)="closePopup()" label="Cerrar"></app-button-secondary>
    </span>
</div>

<ng-template #editContent>
    <div class="flex flex-col gap-4">
        <h3 class="font-bold text-xl">Editar punto</h3>
    
        <form [formGroup]="form">
            <label for="name">Nombre: </label>
            <input id="name" type="text" formControlName="name" class="border border-gray-300 rounded px-2 py-1 w-full mb-2"/>
        
            <label for="category">Categoría: </label>
            <input id="category" type="text" formControlName="category" class="border border-gray-300 rounded px-2 py-1 w-full mb-2"/>
        </form>
    
        <span class="flex flex-row gap-2">
            <app-button (click)="saveChanges()" label="Guardar cambios"></app-button>
            <app-button-secondary (click)="closeEditModal()" label="Cerrar"></app-button-secondary>
        </span>
    </div>
</ng-template>